* {background-color: black; text-align: center; font-family: normal; font-family: verdana; color: white; font-size: 50px}
  h2 {color: aquamarine; font-size: 16px; }
  h3{color: grey; font-size: 21px}
          #copy {text-align: right;}
